.input-container {
  padding: 15px;
  text-align: center;
}

.ant-input-affix-wrapper-lg {
  margin-bottom: 20px;
}

.ant-input-affix-wrapper:hover {
  border-color: #2ccca6 !important;
}

.ant-input-affix-wrapper:focus {
  border-color: #12866b !important;
}

.title {
  color: #12866b;
}